.body{
	margin : 100px;
	padding : 100px;
	
}

.item {
	border : 1px solid black;
	border-radius: 5px;
	padding : 10px;
	background-color : #abc0d8;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin : 1px;
}

.hoverItem {
	color : blue;
	text-decoration: underline;
}

.data{
	border : 1px solid black;
	border-radius: 5px;
	padding : 10px;
	font-family: 'EB Garamond', serif;
	font-size : 1.5em;
	background-color : #f8f9fa;
}

.navbar{
	margin : 5px;
	padding : 5px;
	background-color : #f8f9fa;
}
.brand {
	font-family: 'Cinzel', serif;
	font-size : 2em;
	float : left;
}
.navlinks{
	
}
ul{
	list-style-type: none;
	overflow: hidden;
	font-family: 'Cinzel', serif;
	font-size : 1.2em;
	margin : 2px;
}
li{
	float :left;
	margin : 5px;
	padding : 5px;
}

#dropdown{
	border : 1px solid gray;
	padding : 0px;
	margin : 0px;
	position:absolute;
	z-index:100;
	background-color : white;
}
.dropdownLink{
	font-size :0.8em;
	padding : 0px;
	margin: 0px;
	
}
